body {
  background: url(images/Background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  scrollbar-base-color: rgb(19, 138, 114);
  scrollbar-3dlight-color: #fff;
  scrollbar-highlight-color: #1abc9c;
  scrollbar-track-color: #fff;
  scrollbar-arrow-color: #1abc9c;
  scrollbar-shadow-color: #1abc9c;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.makeStyles-timeLineItem-11 {
  position: relative;
  animation: animateleft 1.9s;
}
@keyframes animateleft {
  from { left: -300px; opacity: 0; }
  to { left: 0; opacity: 1; }
}

.carousel-root {
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  align-items: center;
  justify-content: center;
  position: absolute;
}

.makeStyles-timeLineItem-19::before {
  padding: 0% 0% 0% 0% !important;
}

.carousel-root.active {
  display: flex !important; /* Display and center when active */
}

.carousel-slider {
  background-color: #fefefe;
  margin: auto; /* Center horizontally */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  max-height: 90%; /* Ensure it doesn't overflow vertically */
  overflow-y: auto; /* Enable vertical scrolling if needed */
}

.carouselCloseButton {
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  right: 34px;
  top: 0px;
  cursor: pointer;
  z-index: 1001;
}

.carouselCloseButton:hover,
.carouselCloseButton:focus {
  color: black;
  text-decoration: none;
}

/* Nav Bar Center items */
.MuiListItem-gutters {
  padding-left: 50% !important; 
  padding-right: 50% !important;
}

/* CSS for resume page */
.MuiBox-root {
  margin: 0px !important;
}

.MuiCardActions-root {
  padding: 5px !important;
}

.MuiIcon-root {
  width: 1em;
  height: 1em;
  overflow: hidden;
  font-size: 1.5rem;
  flex-shrink: 0;
  user-select: none;
}

.fa-css3-alt {
  color: blueviolet;
}
.fa-html5 {
  color: #cd8604;
}
.fa-magento {
  color: #cd8604;
}
.fa-laravel {
  color: red;
}
.fa-bootstrap {
  color: blue;
}
.fa-vuejs { 
  color: #1abc9c;
}
.fa-docker { 
  color: lightskyblue;
}
.fa-github { 
  color: black;
}
.fa-gitlab {
  color: #cd8604;
}
.fa-linux {
  color: black;
}
.fa-cloudflare { 
  color: #cd8604;
}
.fa-wordpress-simple {
  color: rgb(14, 14, 14);
}
.flex-item {
  justify-content: center;
}
.containerflex {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}
