body {
  background: url(images/Background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  scrollbar-base-color: rgb(19, 138, 114);
  scrollbar-3dlight-color: #fff;
  scrollbar-highlight-color: #1abc9c;
  scrollbar-track-color: #fff;
  scrollbar-arrow-color: #1abc9c;
  scrollbar-shadow-color: #1abc9c;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.makeStyles-timeLineItem-11 {position:relative;animation:animateleft 1.9s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.carousel-root {
  display: none;
  position: fixed !important; /* Stay in place */
  z-index: 1 !important; /* Sit on top */
  left: 0 !important;
  top: 0 !important;
  width: 100% !important; /* Full width */
  height: 100%;
  overflow: auto !important; /* Enable scroll if needed */
  background-color: rgb(0,0,0) !important; /* Fallback color */
  background-color: rgba(0,0,0,0.4) !important; /* Black w/ opacity */
}

.carousel-slider {
  background-color: #fefefe !important;
  margin: 1% auto !important; /* 15% from the top and centered */
  border: 1px solid #888 !important;
  width: 80% !important; /* Could be more or less, depending on screen size */
}

.carouselCloseButton {
  display: none;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: fixed;
  z-index: 1;
  /* left: 10%;
  top: 12px; */
  left: 89%;
  top: 8px;
}

.carouselCloseButton:hover,
.carouselCloseButton:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Nav Bar Center items */
.MuiListItem-gutters {
  padding-left: 50% !important; 
  padding-right: 50% !important;
}
/* css for resumepage */
.MuiBox-root {
  margin: 0px !important;
}
.MuiCardActions-root {
  padding: 5px !important;
}

.MuiIcon-root {
  width: 1em;
  height: 1em;
  overflow: hidden;
  font-size: 1.5rem;
  flex-shrink: 0;
  user-select: none;
}

.fa-css3-alt {
  color: blueviolet;
}
.fa-html5 {
  color: #cd8604;
}
.fa-magento {
  color: #cd8604;
}
.fa-laravel {
  color: red;
}
.fa-bootstrap {
  color: blue;
}
.fa-vuejs { 
 color: #1abc9c;
}
.fa-docker { 
  color: lightskyblue;
}
.fa-github { 
  color: black;
}
.fa-gitlab {
  color: #cd8604;
 }
.fa-linux {
  color: black;
 }
.fa-cloudflare { 
  color: #cd8604;
}
.fa-wordpress-simple {
  color: rgb(14, 14, 14);
}
.flex-item {
  justify-content: center;
}
.containerflex {
  display: flex;
  justify-content: space-evenly;
}

